<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>

<body>
    <h1>待辦事項清單</h1>
    <input id="todoContext" type="text" name="">
    <button id="btnSubmit">送出</button>
    <ul id="displayItemList">
        <% for(item in toDoList){ %>
            <li>
                <%- toDoList[item].content %> <input data-id="<%- item %>" type="button" value="刪除" />
            </li>
            <% } %>
    </ul>
    <script src="/javascripts/to-do-list.js"></script>
</body>

</html>